API_PORT=8000
FRONTEND_PORT=8060

DATA_DIR=./.data
DATABASE_URL=sqlite:////data/baby_names.db

CORS_ORIGINS=http://localhost:8060

PERSON_A_KEY=chris
PERSON_A_NAME=Chris
PERSON_B_KEY=sydney
PERSON_B_NAME=Sydney

SITE_PASSWORD=PASSWORD
